<h1> Edit a Contact</h1>
<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="patch"/>
  <div>
    First Name: <input type="text" name="first_name" value="<%= @contact.first_name %>">
  </div>
  <div>
    Middle Name: <input type="text" name="middle_name" value="<%= @contact.middle_name %>">
  </div>
  <div>
    Last Name: <input type="text" name="last_name" value="<%= @contact.last_name %>">
  </div>
  <div>
    Email: <input type="email" name="email" value="<%= @contact.email %>">
  </div>
  <div>
    Phone Number: <input type="text" name="phone_number" value="<%= @contact.phone_number %>">
  </div>
  <div>
    Bio: <textarea cols="30" rows="10" name="bio" value="<%= @contact.bio %>"></textarea>
  </div>
 
    
  <input type="submit" name="Update Contact">

</form>

<a href="/contacts/<%= @contact.id %>"data-method="delete"> Delete Contact</a>