<!DOCTYPE html>
<html>
  <head>
    <title>ContactsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href=" /contacts"> All Contacts</a>
    <a href=" /contacts/new"> Create A New Contact</a>
    <%= yield %>
  </body>
</html>
